body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    
}
.column {
    display:flex;
    flex-direction: column
}

.header {
    display:flex;
 
}

.header, .hero {
    background-color: #1F2937;
    padding-left:200px;
    padding-right: 200px;  
    padding-bottom:100px;
}

.hero {
    display:flex;
}

.hero img {
    margin-left:auto;
}

.text-below {
    display:flex;
    flex-direction: column;
    width:500px;
}

.text-below p {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin:0px;
}

.text-below p1 {
    font-size: 18px;
    color:#E5E7EB;
    
}

.list {
    display:flex;
    align-items: center;
}

.headertext {
    display:flex;
    font-size:24px;
    color:#F9FAF8;
    align-items:center;
}

.list {
    display:flex;
    margin-left:auto;
    


}


ul {
    display:flex;
    list-style:none;
    gap:20px;
    font-size:18px;

   

}

.list a  {
    text-decoration: none;
    color:#E5E7EB;
}

.button1 {
    background-color: #3882F6;
    font-weight:bold;
    color:#F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border:none;
    margin-top:10px;
}

.content {
    display:flex;
    padding-left:200px;
    padding-right: 200px;  
    justify-content: space-around;
   
}

.content img {
    border-radius: 20px;
}

h1 {
    text-align:center;
    font-size:36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;
}

.dog1, .dog2, .dog3, .dog4 {
    width:200px;
    text-align: center;
    
}


.testimonial {
    
    display:flex;
    justify-content: center;
    background-color: #E5E7EB;
   
}
.testitext {
    width:800px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.testitext .text {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;

}


.testimonial .name {
    text-align:right;
    font-weight:bold;
}

.banner1 {
    display:flex;
    justify-content: center;

}
.signupt {
    
    flex-direction: column;
    justify-content: center;

}
.banner2 {
    
    background-color:#3882F6 ;
    display:flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width:950px;
    color:#F9FAF8;
    align-items: center;
    justify-content: space-around;
    

}

.title2 {
    font-weight: bold;
    padding-left: 75px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    
}
.banner2 .text {
    padding-left: 75px;
    padding-top: 0px;
    margin-top:0px;
    font-size: 26px;
}

.action {
    background-color: #3882F6;
    font-weight:bold;
    color:#F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-color:#F9FAF8;
    margin-top:10px;
    border-style: solid;
    border-width: 2px;

}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;
}